@import "tailwindcss";

:root {
  --bg-app: #0d1117;
  --bg-panel: #161b22;
  --border-dark: #30363d;
  --accent: #1f6feb;
  --accent-h: #1158c7;
  --text-light: #8b949e;
  --text-bright: #e6edf3;
}

html, body {
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  background: var(--bg-app);
}